
.para
{
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1.3em;
}

.p
{
    font-size: 2rem;
    font-family: 'Roboto Mono';
    background-color: var(white);
}

@media only screen and (max-width: 768px) 
{
    .para
    {
        font-size: 1.4rem;
    }
}  
